# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Environment variables
.envrc
.env

# OS specific files
.DS_Store
Thumbs.db

# Python virtual environment
.venv

# IDE files
.idea/
.vscode/

# mdbook
book/
_version.py
logeventexamples/
logs.json
